*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebecf0;
    margin: auto;
}

.sub-header {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/icc.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    font-family: system-ui;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 110px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: system-ui;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: system-ui;
 }
 
 .text-box h1{
     font-size: 50px;
 }
 
 
 .text-box p{
     margin: 10px 0 40px;
     font-size: 10px;
     color: #fff;

 }

 .nav-links ul li:hover::after{
    width: 100%

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s ;
}

.nav-links ul li:hover::after{
    width: 100%
}

 nav .fa{
    display: none;
 }
 

@media(max-width: 800px) {

    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;

    }

    .nav-links ul li a {
        color: black;
    }

    .nav-links {
        position: absolute;
        background: #fff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: black;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }

}

p {
    
     font-family: sans-serif;
}   

.table_responsive {
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    padding: 50px;
    overflow: auto;
    margin: auto;
    box-shadow: 0 0 20px 0px rgb(0,0,0,.2);
}


table {
    width: 100%;
    font-size: 13px;
    color:#000;
    white-space:nowrap;
    border-collapse: collapse;
    padding: 10px;
    font-family: sans-serif;
}
table>thead {
    background-color: #ebecf0;
    color: #000;
}

table>thead th {
    padding: 10px;
}

table th, 
table td {
       border: 1px solid #00000017;
       padding: 10px 15px;
       text-align: center;
}
.row input 
{
      width: 100%;
      margin-top: 1px;
}

.table input[type='number']{
    width: 35px;
    margin: auto;
    display: flex;
    border: none;
}

.wrapper{
    max-width: 950%;
    width: 100%;
    margin: 30px auto 0;
    padding: 10x;

}

.form-container {
    background: #f8f9f9;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.Heading {
    background: #38b0de;
    margin: -30px;
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px;
    margin-bottom: 35px;
    
}

.form-item{
    
    margin-bottom: 25px;
}


.fullname .form-item,
.select-box .form-item {
   
      width: 100%;
      font-size: 15px;
      font-family: sans-serif;
}

.fullname .form-item:first-child,
.select-box .form-item:first-child{
    margin-right: 4%;
}

.form-item input[type="text"],
.form-item select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-item input[type="text"]:focus{
    border-color: #f8f9f9;
}

.btn button[type="submit"]{
    background: #ccc;
    border: 1px solid #f8f9f9;
    padding: 7px;
    width: 13%;
    border-radius: 20px;
    margin: 20px 0 0 85%;

}